* {
  font-family: avenir;
  color: #B8B8B1;
}

body {
  margin: 0;
}

header {
  background: #9B9B8C;
  max-width: 100vw;
  height: 15vh;
  min-height: 75px;
}

button {
  background: #353526;
  border-radius: 5px;
  color: #B8B8B1;
  margin-top: 0;
  width: 150px;
  font-size: 18px;
  border-radius: 5px;
}

footer {
  background: #686859;
  max-width: 100vw;
  height: 10vh;
}

#head, #foot {
  color: white;
  padding-left: 15vh;
}

#head {
  font-size: 22px;
  margin-top: 0;
}

#top {
  margin-top: 0;
  height: 40%;
}

#bottom {
  margin-top: 0;
  padding-top: 20px;
  height: 20%;
}

#foot {
  padding-top: 22px;
}

a {
  text-decoration: none;
}

#albumarea {
  height: 15vh;
  overflow: auto;
  max-width: 90vw;
  margin: 0 auto;
}

#trackarea {
  max-width: 90vw;
  height: 55vh;
  margin: 0 auto;
}

#albuminfo {
  height: 50%;
  width: 27%;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#tracklist {
  height: 50%;
  width: 27%;
  border: solid 2px #353526;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

#arrows {
  height: 50%;
  width: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 55px;
  float: left;
}

#trackoutput {
  height: 50%;
  width: 26%;
  border: solid 2px #353526;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

.albumimg {
  height: 80%;
  margin-top: 10px;
  width: same-as-height;
}

.albumdiv {
  margin-left: 4vw;
  margin-right: 4vw;
  display: inline;
}

.currcover {
  height: 10vh;
  width: same-as-height;
  margin-top: 0;
  margin-bottom: 10px;
}

.output, .currtitle, #albumtext, .bincontents {
  color: black;
  line-height: 1.5;
}

.currtitle {
  margin-top: 0;
  margin-bottom: 0
}

option {
  font-size: 16px;
}
