* {
  font-family: avenir;
  color: #B8B8B1;
}

header {
  background: #9B9B8C;
  max-width: 100vw;
  height: 15vh;
}

button {
  background: #353526;
  border-radius: 5px;
  color: #B8B8B1;
  margin-left: 31px;
  margin-top: 0;
  width: 150px;
  font-size: 18px;
  border-radius: 5px;
}

footer {
  background: #686859;
  max-width: 100vw;
  height: 10vh;
}

#head, #foot {
  color: white;
  padding-left: 15vh;
}

#head {
  padding-top: 62px;
  font-size: 22px;
}

#foot {
  padding-top: 22px;
}

#albumarea {
  height: 15vh;
  overflow: auto;
}

#trackarea {
  max-width: 100vw;
  height: 60vh;
}

#trackoutput {
  height: 50%;
  width: 100%;
  border: solid 2px #353526;
  margin-bottom: 20px;
}

.album {
  height: 80%;
  margin-top: 10px;
  width: same-as-height;
  margin-left: 4vw;
  margin-right: 4vw;
}
